<div class="relationship-item relationship-item-{{ item.type }}">
    <div class="relationship-item-inner">
        <a href="{{ item.link }}">
            <div class="relationship-image-wrapper">
                <img class="relationship-image" src="{{ item.thumbnail.src('related-item') }}" {{ (item.alt_text) ? "alt='"+item.alt_text+"'": ""  }} />
            </div>
            <h3>{{ item.title }}</h3>
        </a>
    </div>
</div>