{# Styling: templates/_listing.scss #}
<article class="tease tease-{{post.post_type}} row" id="tease-{{post.ID}}">
	{% block teaser_content %}
		{% if post.get_thumbnail %}
			<div class="col-lg-2 col-md-3 col-sm-12">
				<a class="teaser-image-link" href="{{ post.link }}">
					<img class='teaser-image' src="{{ post.thumbnail.src('listing-item') }}" />
				</a>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-12">
		{% else %}
			<div class="col-xs-12">
		{% endif %}
			<h2 class="teaser-title"><a href="{{post.link}}">{{post.title}}</a></h2>
			{# read_more_text should be set in the php file that calls this template or set globally in the timber class #}
			{# Snip at 30 words, don't force snip if there's read more text already, use the read_more_text that's been defined #}
			{# remove html, use '' instead of '...' for snipped text #}
			<p>{{ post.get_preview(30, false, read_more_text, true, '') }}</p>
		</div>
	{% endblock %}
</article>