<footer id="footer" class="content-info container-fluid" role="contentinfo">
    <div id="footer-inner">
        <div class="row">
            <div class="col-md-2 col-lg-3 footer-info">
                <a href="/"><img src="<?php echo get_template_directory_uri(); ?>/assets/images/contra-costa-college-logo-small.png" alt="<?php echo __('Contra Costa College Footer Logo'); ?>"/></a>
                <div id="footer-phone-number" class="phone-number">(som) enu-mber</div>
            </div>
            <div class="col-xs-12 col-md-10 col-lg-9">
                <div class="row footer-menus">
                    {{ sidebar_footer }}
                </div>
                <div class="footer-social">
                    <span class="footer-social-title">Get Social</span>
                    <a href="{{ facebook_link }}" class="sm sm-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="{{ twitter_link }}" class="sm sm-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="{{ instagram_link }}" class="sm sm-instagram"><i class="fa fa-instagram"></i></a>
                    <a href="{{ linkedin_link }}" class="sm sm-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="{{ youtube_link }}" class="sm sm-youtube"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>
        <div class="scroll"><a href="#"><i class="fa fa-chevron-up"></i><br/>top</a></div>
        <div class="copyright">
            &copy; 2017 {{ sidebar_copyright }}
        </div>
    </div>
</footer>