<header id="header">
    {% block header %}
        <div id="header-wrapper">
            <div class="container-fluid">          
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h2 class="logo">
                            <a class="logo-link" href="{{site.url}}" rel="home">
                                {% if site_logo %}
                                    <img src="{{ site_logo | resize('header-logo') }}"
                                         srcset="{{ site_logo | resize('header-logo') | retina(1) }} 1x,
                                                 {{ site_logo | resize('header-logo2x') | retina(2) }} 2x" }}
                                         alt="{{ site.name }}" />
                                {% else %}
                                    {{site.name}}
                                {% endif %}
                            </a>
                        </h2>
                        <button type="button" class="navbar-toggle collapsed visible-sm" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>                          
                    </div>
                    <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">
                        {% include "menu/menu.twig" with {'menu': header_menu.get_items} %}
                    </div>
                </div>
            </div>
        </div>
        <div id="primary-menu-wrapper" class="hidden-sm hidden-xs">
            <nav id="primary-menu" class='row' role="navigation">
                {% include "menu/menu-primary.twig" with {'menu': primary_menu.get_items} %}
            </nav>
        </div>
    {% endblock %}
</header>