{# styles: widgets/_pagination.scss #}
<div class="pagination">
    <ul class="pages">
        {% if pagination.prev %}
            <li class="pagination-item">
                <a href="{{ pagination.prev.link }}" class="prev pagination-link">
                    <div class="sr-only">{{ __('Previous Page') }}</div><i class="fa fa-arrow-left"></i>
                </a>
            </li>
        {% endif %}
        {% for page in pagination.pages %}
            <li class="pagination-item">
                {% if page.link %}
                    <a href="{{page.link}}" class="{{page.class}} pagination-link">{{page.title}}</a>
                {% else %}
                    <span class="{{page.class}} pagination-active">{{page.title}}</span>
                {% endif %}
            </li>
        {% endfor %}
        {% if pagination.next %}
            <li class="pagination-item">
                <a href="{{ pagination.next.link }}" class="next pagination-link">
                    <div class="sr-only">{{ __('Next Page') }}</div><i class="fa fa-arrow-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>