{# Styled by: widgets/_slider-owl.scss #}
{# Javascript: js/base/widgets/slider-owl.js #}
{% if slider %}
    <div class="slider-wrapper">
        <div class="owl-carousel">
            {% for slide in slider %}
                <div class="item">
                    <div class="slide-img">
                        {# Uncomment if the entire slide should be a link #}
                        {#<a href="{{ slide.url }}" >#}
                            {% if is_mobile %}
                                <img src="{{ slide.image_mobile }}" alt="{{ slide.title }}" />
                            {% else %}
                                <img src="{{ slide.image }}" alt="{{ slide.title }}" />
                            {% endif %}
                        {#</a>#}
                        <div class="slide-text">
                            <h2 class="slide-title">
                                <a href="{{ slide.url }}" >{{ slide.title }}</a>
                            </h2>
                            <div class="slide-blurb hidden-xs">
                                <a href="{{ slide.url }}" >{{ slide.teaser }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}