{% if menu %}
    <ul class="social-links-menu">
        {% for item in menu %}
            {% if "instagram" in item.get_link %}
                {% set fa_class = "fa-instagram" %}
            {% elseif "twitter" in item.get_link %}
                {% set fa_class = "fa-twitter" %}
            {% elseif "facebook" in item.get_link %}
                {% set fa_class = "fa-facebook" %}
            {% elseif "youtube" in item.get_link %}
                {% set fa_class = "fa-youtube" %}
            {% elseif "yelp" in item.get_link %}
                {% set fa_class = "fa-yelp" %}
            {% elseif "mailto:" in item.get_link %}
                {% set fa_class = "fa-envelope" %}
            {% elseif "linkedin" in item.get_link %}
                {% set fa_class = "fa-linkedin" %}
            {% elseif "feed" in item.get_link %}
                {% set fa_class = "fa-rss" %}
            {% else %}
                {% set fa_class = null %}
            {% endif %}

            {% if fa_class %}
                <li class="{{item.classes | join(' ')}}">
                    <a class="social-link social-icon" href="{{item.get_link}}">
                        <i class="fa {{ fa_class }}"></i><span class="sr-only">{{ item.title }}</span>
                    </a>
                </li>
            {% else %}
                <li class="{{item.classes | join(' ')}}">
                    <a class="social-link social-no-icon" href="{{item.get_link}}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}